*{
  padding: 0;
  margin: 0;
}
body{
  background-color: lightblue;
  width: 100vw;

}
.App{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.App header{
  text-align: center;
}
header{
  width: 800px;
  height: 100px;
  font-size: 30px;
}

.App main{
  
  width: 1300px;
}

.App .app-task-list{

  padding-left: 90px;
  padding-top: 30px;
  padding-bottom: 400px;
  display: flex;
  border: 3px solid black;
  border-radius: 30px;
  background-color: cornsilk;
  flex-direction: column;
  gap: 10px;
  font-weight: 900;
  height: 70px;
  overflow-x:hidden;
  overflow-y:auto
}

.App .app-task-list li:hover{
  background-color: rgba(47, 0, 255, 0.411);
  cursor: pointer;
  width: 80%;
}

.App .app-task-list li.selected{
  background-color: blue;
  width: 80%;
}

.App .app-input-container{
  margin-bottom: 5px;
}

.App .app-input-container form{
  height: 50px;
}

.App .app-input-container form input{
  width: 100%;
  height: 95%;
  font-size: 30px;
}

.App .app-button-container{
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}

.App .app-button-container button{
  width: 300px;
  font-size: 30px;
  font-weight: bolder;
  border-radius: 30px;
  background-color: cadetblue;
  color: white;  
}


footer{
  align-self: flex-start;
  padding-top: 100px;
}